body{
    background: rgb(63, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
.container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
    /* width: 800px; */
    margin-top: 100px ;

}
.hone{
    font-size: 80px;
}

h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 2.6rem;
    text-transform: capitalize;
    color:white;

}
#seconds,
#tens{
    /* font-size: 4.5em; */
    color:white;
  
}

.ppp{
    margin-top: -30px;
     display: flex;
    font-size: 4.5em;
    color:white;

}
button{
    margin-right: 40px;
    width: 200px;
    height: 50px;
    background: transparent;
    color:white;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
#button-start{
    background: rgb(11, 247, 3);
}
#button-stop{
    background: rgb(0, 106, 245);
}
#button-reset{
    background: rgb(243, 39, 3);
}
button:hover{
    background: white;
    color: rgb(63, 57, 57);
    /* font-weight: 800; */
    text-transform: capitalize;
}
